@import "../../styles/Variables.scss";

#gallery
    {
        margin: 21px;
        display: flex;
        flex-direction: column;
    }


//css pour desktop
@media screen and (min-width: $desktop)
{
#gallery
    {
    width: auto;
    margin: 3% 100px 0px 100px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #F6F6F6;
    border-radius: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    }
}
