@import "../../styles/Variables.scss";


@keyframes progress_bar {
    0% {width: 0%;}
    100% {width: 100%}
}

.ThumbLoader
    {
        width: 100%;        
        height: 50px; 
        margin-top: 6%;
        border-radius: 10px;
        background-size: cover;
        position: relative;
        
        &_title
            {
                position: absolute;
                height: 100%;
                background: $pink;
                border-radius: 10px;
                animation: progress_bar infinite 3s cubic-bezier(0.54, 0.8, 0.26, -0.17);
                border-right: 1px solid $pink;
                box-shadow:  inset -3px 3px 16px 0px #fcfcfc, inset 3px -3px 5px 0px #fcfcfc;
            }
        &_reflet
            {
                top: 10px;
                position: absolute;
                width: 100%;
                background-color: #3f3f3f;
                display: block;
                height: 2px;
            }
                
        &_txt
            {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 142.6%;
                color: gray;
            }
            
        
    }

@media screen and (min-width: $desktop)
{
.ThumbLoader
    {
        width: 100%;        
        height: 50px;
        margin: 0;
    }
}