@import "../../styles/Variables.scss";

@keyframes rotate_arrow 
    {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(180deg)}
    }

.AboutBoxs
    {
        margin-left: 20px;
        margin-right: 20px;
    }

.InfoBox
    {
        margin-bottom: 20px;
        background-color: $grey;
        border-radius: 5px;
        width: 100%;
        &_title
            {
                background-color: $pink;
                color: white;
                border-radius: 5px;
                padding-left: 3%;
                padding-right: 3%;
                height: 30px;

                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 142.6%;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: space-between;





                button 
                    {
                        background-color: $pink;
                        border: none;
                        padding: 0;
                    }
            }
        &_txt
            {
                border-radius: 0 0 5px 5px;
                color: $pink;
                font-weight: 400;
                font-size: 12px;
                line-height: 142.6%;
                text-align: left;
                padding: 3%;
                ul {list-style-type: none;}
                
            }
    }
.button_true
    {
        transform:rotate(180deg);
        transition:transform 400ms linear
    }
.button_false
    {
        transform:rotate(0deg);
        transition:transform 400ms linear
    }
#housing_infosBox .InfoBox
    {
        width: 100%;
    }





//css pour desktop
@media screen and (min-width: $desktop)
{
.AboutBoxs
    {
        margin-left: 200px;
        margin-right: 200px;
    }

.InfoBox
    {
        
        margin-bottom: 35px;
        &_title
            {
                height: 47px;
                font-size: 24px;
                padding-left: 1%;
                padding-right: 1%;

                button img
                    {
                        width: 24px;
                    }

            }
        &_txt
            {
                font-size: 24px;
                padding: 1%;
                padding-top: 2%;
            }
    }
#housing_infosBox .InfoBox
    {
        width: 48%;
    }
}

