@import "../../styles/Variables.scss";

.AboutBoxs
    {
        margin-left: 20px;
        margin-right: 20px;
    }

.InfoBox
    {
        margin-bottom: 20px;
        border-radius: 5px;
        width: 100%;
        &_title
            {
                background-color: $pink;
                color: white;
                border-radius: 5px;
                padding-left: 3%;
                padding-right: 3%;
                height: 30px;

                font-style: normal;
                font-weight: 500;
                font-size: 13px;
                line-height: 142.6%;
                text-align: left;
                display: flex;
                align-items: center;
                justify-content: space-between;





                button 
                    {
                        background-color: $pink;
                        border: none;
                        padding: 0;
                    }
            }
        &_txt
            {
                border-radius: 0 0 5px 5px;
                color: $pink;
                font-weight: 400;
                font-size: 12px;
                line-height: 142.6%;
                text-align: left;
                padding: 0%;
                padding-top: 0%;
                ul 
                    {
                    list-style-type: none;
                    margin: 0;
                    padding-inline-start: 0;
                    }
                
            }
    }
.button_true
    {
        transform:rotate(0deg);
        transition:transform 400ms linear
    }
.button_false
    {
        transform:rotate(180deg);
        transition:transform 400ms linear
    }
#housing_infosBox .InfoBox
    {
        width: 100%;
    }
//css opening boxtxt for housing page
.BoxTXT_housing_false
    {
        height: 0px;
        padding: 0%;
        padding-top: 0%;
        opacity: 0;
        transition: height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out, padding-top 0.5s ease-in-out 0.25s, padding 0.5s ease-in-out 0.25s;
    }

.BoxTXT_housing_true
    {
        height: 144px;
        padding: 3%;
        padding-top: 4%;
        opacity: 1;
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.25s, padding-top 0.5s ease-in-out, padding 0.5s ease-in-out;
        background-color: $grey;
    }
//css opening boxtxt for about page
.BoxTXT_about_false
    {
        height: 0px;
        padding: 0%;
        padding-top: 0%;
        opacity: 0;
        transition: height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out, padding-top 0.5s ease-in-out 0.25s, padding 0.5s ease-in-out 0.25s;
    }

.BoxTXT_about_true
    {
        height: 144px;
        padding: 3%;
        padding-top: 2%;
        opacity: 1;
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.25s, padding-top 0.5s ease-in-out, padding 0.5s ease-in-out;
        background-color: $grey;
    }




//css pour desktop
@media screen and (min-width: $desktop)
{
.AboutBoxs
    {
        margin-left: 200px;
        margin-right: 200px;
    }

.InfoBox
    {
        
        margin-bottom: 35px;
        &_title
            {
                height: 47px;
                font-size: 24px;
                padding-left: 1%;
                padding-right: 2%;

                button img
                    {
                        width: 24px;
                    }

            }
        &_txt
            {
                font-size: 18px;
                padding: 0%;
                padding-top: 0%;
                font-size: 24px;
                overflow: hidden;
            }
    }
#housing_infosBox .InfoBox
    {
        width: 48%;
    }

.BoxTXT_housing_true
    {
        height: 250px;
        padding: 3%;
        padding-top: 7%;
        opacity: 1;
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.25s, padding-top 0.5s ease-in-out, padding 0.5s ease-in-out;
        background-color: $grey;
    }

.BoxTXT_housing_false
    {
        height: 0px;
        padding: 0%;
        padding-top: 0%;
        opacity: 0;
        transition: height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out, padding-top 0.5s ease-in-out 0.25s, padding 0.5s ease-in-out 0.25s;
    }

.BoxTXT_about_true
    {
        height: 170px;
        padding: 3%;
        padding-top: 2%;
        opacity: 1;
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out 0.25s, padding-top 0.5s ease-in-out, padding 0.5s ease-in-out;
        background-color: $grey;
    }
.BoxTXT_about_false
    {
        height: 0px;
        padding: 0%;
        padding-top: 0%;
        opacity: 0;
        transition: height 0.5s ease-in-out 0.25s, opacity 0.5s ease-in-out, padding-top 0.5s ease-in-out 0.25s, padding 0.5s ease-in-out 0.25s;
    }
}

