@import "../../styles/Variables.scss";

.banner
    {
        height: 111px;
        margin-top: 6%;
        margin-left: 20px;
        margin-right: 20px;
        background-color: #000000;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/Banner.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        mix-blend-mode: darken;
        opacity: 130%;
        display: flex;
        align-items: center;
    }

.banner_txt
    {
        padding: 16px;
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
    }

//css pour desktop
@media screen and (min-width: $desktop)
{
    .banner
    {
        height: 223px;
        margin-top: 3%;
        margin-left: 100px;
        margin-right: 100px;
        background-color: #000000;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/Banner.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 25px;
        mix-blend-mode: darken;
        opacity: 130%;
        display: flex;
        align-items: center;
    }

.banner_txt
    {
        margin: auto;
        color: white;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
    }
}